/* CSS code for the Checker section */

#checker {
  padding: 2rem 8rem;
}

#checker-form {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "left-section right-section";
  column-gap: 3rem;
}

.left-section {
  grid-area: left-section;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "select-criteria-title"
    "left-section-grid"
}

.select-criteria-title {
  grid-area: select-criteria-title;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.left-section-grid {
  grid-area: left-section-grid;
  background-color: #D5DDE2;
  padding: 1.6rem 1.25rem;
}

.criterion-checkbox-container {
  display: flex;
  align-items: center;
}

.criterion-checkbox-container input {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  margin-right: 0.6rem;
}

.criterion-checkbox-container label {
  font-family: Open Sans;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
}

.right-section {
  grid-area: right-section;
}

.right-section-grid {
  display: grid;
  grid-template-rows: 0.5fr 1.2fr 1fr;
  grid-template-areas:
    "upload-title"
    "video-file-input"
    "evaluate-button";
  row-gap: 1rem;
}

.upload-title {
  grid-area: upload-title;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: bold;
}

.video-file-input {
  grid-area: video-file-input;
  background-color: #D5DDE2;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  border-radius: 4rem;
}

.video-file-input[type="file"] {
  font-family: Open Sans;
  font-size: 1.1rem;
  color: #555555;
}

.video-file-input::file-selector-button {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4rem;
  padding: 0.94rem 1.25rem;
  margin-right: 0.6rem;
  cursor: pointer;
}

.evaluate-button {
  grid-area: evaluate-button;
  background-color: #2d4769;
  color: white;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4rem;
  padding: 0.6rem;
  width: 7.5rem;
  cursor: pointer;
}

.evaluate-button:hover {
  box-shadow: 0.25rem 0.25rem 0.2rem rgba(0, 0, 0, 0.2);
}

.evaluate-button:active {
  box-shadow: none;
}

.appr-result {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "invisible-block appr-result-container";
  column-gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.invisible-block {
  grid-area: invisible-block;
  display: grid;
  min-width: 18.75rem;
  background-color: white;
}

.appr-result-container {
  grid-area: appr-result-container;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "appr-result-title"
    "appr-result-bar";
}

.appr-result-title {
  grid-area: appr-result-title;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.appr-result-bar {
  grid-area: appr-result-bar;
  background-color: #D5DDE2;
  height: 12rem;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.75rem;
  padding: 0.94rem 1.25rem;
  font-family: Open Sans;
  font-size: 1.1rem;
}

/* Responsive design */
@media (width <= 938px) {
  #checker {
    padding: 1rem 4rem;
  }

  #checker-form,
  .appr-result {
    display: block;
  }

  .right-section-grid {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      "upload-title ."
      "video-file-input evaluate-button";
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .select-criteria-title,
  .upload-title,
  .appr-result-title {
    font-size: 1.3rem;
  }

  .upload-title {
    margin-top: 1rem;
  }

  .criterion-checkbox-container label,
  .video-file-input[type="file"],
  .video-file-input::file-selector-button,
  .evaluate-button,
  .appr-result-bar {
    font-size: 0.9rem;
  }

  .criterion-checkbox-container input {
    width: 1.3rem;
    height: 1.3rem;
  }

  .video-file-input::file-selector-button {
    padding: 0.8rem 1.25rem;
  }

  .evaluate-button {
    padding: 0.7rem 0.6rem;
  }

  .appr-result {
    margin-bottom: 1.3rem;
  }
}

@media (width <= 630px) {
  #checker {
    padding: 0.5rem 2rem;
  }

  .select-criteria-title,
  .upload-title,
  .appr-result-title {
    font-size: 1rem;
  }

  .criterion-checkbox-container label,
  .video-file-input[type="file"],
  .video-file-input::file-selector-button,
  .evaluate-button,
  .appr-result-bar {
    font-size: 0.8rem;
  }

  .criterion-checkbox-container input {
    width: 1rem;
    height: 1rem;
  }

  .video-file-input::file-selector-button {
    padding: 0.8rem 1rem;
  }

  .evaluate-button {
    padding: 0.7rem 0.3rem;
    width: 6.5rem;
  }

  .appr-result-bar {
    margin-top: -0.5rem;
  }
}